/* Global  */
* {
  box-sizing: border-box;
}
.global__container {
  width: 941px;
  margin: 0 auto;
}
.global__title {
  font-family: OS_bold;
  font-size: 18px;
  letter-spacing: 0.13em;
  text-align: center;
  color: #48555b;
  text-transform: uppercase;
}
.global__line {
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
}

@media screen and (max-width: 992px) {
  .global__container {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .global__container {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .global__container {
    width: 320px;
  }
}
@media screen and (max-width: 370px) {
  .global__container {
    width: 230px;
  }
}

/* Header  */
.header {
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  min-height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 71px;
}
.header__img {
  width: 101px;
  height: 23px;
}
.header__middle {
  text-align: center;
}
.header__middle-title {
  font-family: bebas;
  font-size: 60px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 8px;
  padding-top: 81px;
}
.header__middle-subtitle {
  font-family: OS_semiBold;
  font-size: 16px;
  color: #fff;
}
.header__scroll {
  font-family: OS_semiBold;
  font-size: 11px;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 550px) {
  .header__middle-title {
    font-size: 36px;
  }
  .header__middle {
    padding: 0 15px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    min-height: 600px;
  }
}
@media screen and (max-width: 350px) {
  .header__middle-title {
    font-size: 24px;
    line-height: 30px;
  }
  .header__middle-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}

/* Navbar */
.navbar {
  border: 1px solid #e6e6e6;
}
.navbar__body {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
}
.navbar__logo {
  width: 79px;
  height: 18px;
}
.navbar__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.navbar__menu-a {
  font-family: OS_semiBold;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.09em;
  color: #48555b;
}
.navbar__menu-a:hover {
  color: #00a4e5;
  font-family: OS_bold;
}
.navbar__menu-a:nth-child(1) {
  padding-right: 48px;
}
.navbar__menu-a:nth-child(2) {
  padding-right: 39px;
}
.navbar__menu-a:nth-child(3) {
  padding-right: 39px;
}
.navbar__menu-a:nth-child(4) {
  padding-right: 28px;
}

@media screen and (max-width: 576px) {
  .navbar__menu {
    flex-direction: column;
    padding-top: 0;
    gap: 10px;
  }
  .navbar__menu-a {
    padding-right: 0px !important;
  }
  .navbar__body {
    align-items: center;
  }
}

/* About */
.about {
  padding-top: 61px;
  padding-bottom: 59px;
}
.about__body {
}
.about__title {
  margin-bottom: 13px;
}
.about__line {
  margin: 0 auto 84px;
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.about__content_left {
  max-width: 405px;
}
.about__left-top {
  font-family: OS_bold;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #48555b;
  margin-bottom: 30px;
}
.about__left-top span {
  color: #16ace8;
}
.about__left-bottom {
  font-family: OS_regular;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #48555b;
}
.about__content_right {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.about__right_card {
  width: 140px;
  height: 224px;
}
.about__card-text {
  font-family: OS_extraBold;
  font-size: 24px;
  line-height: 121%;
  letter-spacing: 0.01em;
  color: #fff;
  text-transform: uppercase;
  padding-top: 15px;
  margin-left: 14px;
}
.about__right_card-1 {
  background-image: url(../img/about_plan.jpg);
}
.about__right_card-2 {
  background-image: url(../img/about_manage.jpg);
}
.about__right_card-3 {
  background-image: url(../img/about_build.jpg);
}

@media screen and (max-width: 992px) {
  .about__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__content_left {
    margin-bottom: 20px;
  }
  .about__line {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .about__content_right {
    flex-direction: column;
  }
}

/* Services */
.services {
  padding-top: 58px;
  padding-bottom: 115px;
}
.services__body {
}
.services__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}
.services__top_left {
  padding-top: 4px;
}
.services__left-title {
  text-align: left;
  margin-bottom: 12px;
}
.services__left-line {
}
.services__top-text {
  font-family: OS_regular;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.02em;
  color: #48555b;
  max-width: 405px;
  padding-top: 1px;
  padding-left: 60px;
}
.services__top-btn {
  width: 150px;
  height: 40px;
  background-color: #00A4E5;
  border: none;
  cursor: pointer;
  font-family: OS_bold;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.services__bottom {
  display: flex;
  gap: 27px;
  justify-content: space-between;
}
.services__bottom_card {
  border: 1px solid #e6e6e6;
  width: 295px;
  height: 330px;
  padding: 38px 20px 0 23px;
  padding-top: 38px;
  padding-left: 23px;
  padding-right: 20px;
}
.services__card-icon {
  margin-bottom: 22px;
}
.services__card-name {
  font-family: OS_bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #48555b;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.services__card-text {
  font-family: OS_regular;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

@media screen and (max-width: 992px) {
  .services__top-text {
    padding-left: 0;
  }
  .services__bottom_card {
    height: auto;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .services__top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services__left-line {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .services__top-text {
    margin-bottom: 15px;
    text-align: center;
  }
  .services__bottom {
    flex-direction: column;
    align-items: center;
  }
  .services__top {
    margin-bottom: 40px;
  }
  .services {
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 370px) {
  .services__bottom_card {
    width: 240px;
  }
}

/* Touch */
.touch {
  padding-top: 122px;
  padding-bottom: 230px;
  background-image: url(../img/touch_bg.jpg);
  text-align: center;
}
.touch__title {
  font-family: OS_bold;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #48555b;
  max-width: 300px;
  margin: 0 auto 34px;
}
.touch__btn {
  width: 150px;
  height: 40px;
  background: #00a4e5;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  font-family: OS_bold;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 370px) {
  .touch {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
  .touch__title {
    font-size: 25px;
  }
}

/* Signup */
.signup {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #171819;
}
.signup__body {
  display: flex;
  justify-content: space-between;
  max-width: 685px;
  margin: 0 auto;
  align-items: center;
}
.signup__txt {
  font-family: OS_bold;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.signup__form {
  display: flex;
  align-items: center;
}
.signup__form-email {
  border: 1px solid #979797;
  width: 250px;
  height: 40px;
  font-family: OS_regular;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #48555b;
  padding-left: 16px;
  margin-top: 1px;
}
.signup__form-btn {
  width: 150px;
  height: 40px;
  background: #00a4e5;
  font-family: OS_bold;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: none;
  margin-left: -4px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .signup__body {
    flex-direction: column;
  }
  .signup__txt {
    margin-bottom: 15px;
  }
  .signup__form {
    align-items: center;
  }
}
@media screen and (max-width: 410px) {
  .signup__form {
    flex-direction: column;
  }
  .signup__form-email {
    margin-bottom: 15px;
  }
}

/* Footer  */
.footer {
}
.footer__top {
}
.footer__left {
}
.footer__left-title {
}
.footer__left-logo {
}
.footer__left-txt {
}
.footer__middle {
}
.footer__middle-title {
}
.footer__column {
}
.footer__column-link {
}
.footer__right {
}
.footer__right-title {
}
.footer__right-adress {
}
.footer__right-number {
}
.footer__right-email {
}
.footer__social {
}
.footer__social-icon {
}
.footer__bottom {
}
.footer__bottom-txt {
}
